{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": false,
  "bracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": true
}
